body, html{
    margin: 0;
    padding: 0;
    display: grid;
  
}

.aboutMeContainer {
    background: linear-gradient(165deg, #2596be 60%,  rgb(187, 181, 181) 0.5%, white calc(61% + 2px)); 
    height: 100vh;
    display: grid;
}

